body {
	min-width:		380px;
	overflow-x:		hidden;
	font-family: 	'Century Gothic', arial, serif;
	font-size:		12px;
}

h1 {
	font-size: 		18px;
	color: 			#33608C;
	font-style: 	normal;
	font-variant: 	normal;
	font-weight: 	normal;
	margin: 		0 0 0 5px;
}

header div {
	font-size:		11px;
	color:			#666;
	text-align: 	center;
}

a:link {
	
}

a:hover {
	color:				#2476bc
}

a:active {
	color:				#33608C;
}

a:visited {
	color:			blue;
}

ul.tabs {
	padding:		0;
	margin:			5px 0 0;
}

ul.tabs li {
	display:			inline-block;
	padding:			3px 6px 2px;
	background-color:	#effcfc;
	border-radius:		6px 6px 0px 0px;
	border-color:		#ccc;
	border-width: 		1px 1px 0 1px;
	border-style: 		solid;
	cursor:				pointer;
	font-size:			12px;
}

ul.tabs li:hover {
	font-weight:		bold;
}

ul.tabs li.current {
	font-weight:		bold;
	background-color:	#cdf2f2;
}

ul.tabs li[rel=tools] {
	margin-left:		20px;
	background-color:	#2a86d1;
	color:				#fff;
	font-weight:		bold;
}

ul.tabs li[rel=encryption] {
	background-color:	#2a86d1;
	color:				#fff;
	font-weight:		bold;
}

ul.tabs li[rel=tools]:hover, ul.tabs li[rel=encryption]:hover,
ul.tabs li.current[rel=tools], ul.tabs li.current[rel=encryption] {
	color:	#cdf2f2;
}

.link {
	text-decoration: 	underline;
	color:				blue;
	cursor:				pointer;
	
}

.link:hover {
	color:				#2476bc
}

.link:active {
	color:				#33608C;
}


article {
	position: 			relative;
	height:				380px;
}


section {
	position:			absolute;
	top:				0;
	right:				0;
	left:				0;
	display:			none;
	border:				1px solid #ccc;
}


section#symbols {
	display:			block;
}

div.characters {
	padding:			2px 6px 2px 6px;
	text-align: 		justify;
}

.preview {
	float:				right;	
	border-left:		1px solid #ccc;
	border-bottom:		1px solid #ccc;
	font-size:			55px;
	width:				60px;
	min-height:			70px;
	text-align: 		center;
	margin:				0 0 5px 5px;
}

/* TODO Ensure all OSes have the right font selected here */
div.characters span {
	font-family: 		'Century Gothic', arial, serif;
	font-weight:		bold;
	font-size: 			20px;
	padding:			2px 2px;
	cursor:				pointer;
	color:				#333;
	line-height: 		25px;
}

div.characters span:hover {
	background-color: 	#dff;
	border-radius:		5px;
}

div.characters span:active {
	color:				#33608C;
}


.tipAdd {
	vertical-align: 	middle;
	font-size:			11px;
}

.tipAdd .character {
	font-size:			14px;
}

/**
 * Custom Characters
 */

div.characters#custom {
	min-height: 		150px;
}

div.characters#favorite {
	min-height: 		150px;
}

.link.removeAll {
	font-size:			11px;
	float:				right;
	margin:				5px 5px 0 0;
}

.link.removeCharacter {
	padding:			0 0 0 25px;
	background: 		transparent url(../img/remove.png) no-repeat 10px 50%;
	color:				red;
}

.link.removeCharacter:hover {
	color:				orange;
}

.link.removeCharacter:active {
	color:				black;
}


#customCharactersFormBlock {
	border-bottom:		1px solid #eee;
	padding:			0 0 5px 0;
	margin:				0 5px 5px 5px;
	text-align: 		right;
}


section#various label {
	font-size:			14px;
}

.suggestions {
	font-size:			11px;
}


section .result {
	text-align:			center;
	font-size:			16px;
	padding:			5px 10px;
	border:				1px solid #eee;
	background-color:	#eff9f9;
	min-height: 		22px;
	margin:				5px 0 10px;
}

section .result.empty {
	padding:			0px 10px;
	color:				#888;
	font-size:			10px;
}

section .result.empty .emptyMessage {
	display: 			table-cell;
	vertical-align: 	middle;
}

section .result.empty .void {
	color:				#739696;
	line-height:		22px;
	font-size:			28px;
	font-weight:		bold;
}

/**
 * Tools
 */
section#tools {
	padding:			5px 0 5px;
	margin:				0 0 20px;
}

section#tools label {
	display:			inline-block;
	width:				25%;
	font-size:			14px;
	text-align: 		right;
}

section#tools input[type=text] {
	width:				65%;
}

section#tools #leetSpeakCoding {
	text-align:			right;
	margin-right:		30px;
}

section#tools #leetSpeakCoding label {
	display:			inline;
	width: 				auto;
	font-size:			12px;
}

.tool-teasing {
	font-size:			16px;
	padding:			2px 2px;
	font-weight: 		bold;
}


/**
 * Encryption
 */
section#encryption {
	padding:			5px 0 5px;
	margin:				0 0 20px;
}

section#encryption label {
	display:			inline-block;
	width:				25%;
	font-size:			14px;
	text-align: 		right;
}

section#encryption input[type=text] {
	width:				65%;
}



footer {
	margin-top:			10px;
}

#troubleshootings {
	font-size:		11px;
	color:			#666;
	text-align: 	center;
	margin:			0 0 5px;
}

#solution {
	line-height: 	normal;	
}

.changeFont {
	text-align:		center;
}

